.video-js-container {
  margin: 0 auto;
  text-align: center;
  max-width: 720px;
}

.video-js .vjs-progress-control {
  display: none;
}

.vjs-remaining-time.vjs-time-control {
  display: none;
}

.video-js .vjs-record-control {
  cursor: pointer;
  flex: none;
}

.vjs-texttrack-settings {
  display: none;
}
.hidden {
  display: none;
}
.shown {
  display: block;
}