.Header {
  background-color: #5c0115;
  min-height: 10vh;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(20px + 2vmin);
  color: white;
}

.Header .logo {
  max-width: 200px;
  height: auto;
  flex: 1;
}

.Header ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.Header li {
  list-style-type: none;
  display: inline-block;
  margin: 20px;
}

.Header a {
  color: #e2bc8c;
}
.Header a:hover,
.Header a.active {
  color: #fff;
}
